<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="aegisub" />
  <package id="androidstudio" />
  <package id="apktool" />
  <package id="autohotkey.install" />
  <package id="autohotkey.portable" />
  <package id="bandizip" />
  <package id="battle.net" />
  <package id="choco-cleaner" />
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="chocolatey-misc-helpers.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="chocolateygui" />
  <package id="chromedriver" />
  <package id="cpu-z.install" />
  <package id="crystaldiskinfo" />
  <package id="crystaldiskinfo.portable" />
  <package id="devtoys" />
  <package id="ditto" />
  <package id="docker-desktop" />
  <package id="dotnet" />
  <package id="dotnet-6.0-runtime" />
  <package id="dotnet-runtime" />
  <package id="DotNet4.5.2" />
  <package id="dotnet4.7" />
  <package id="dotnetfx" />
  <package id="dropit" />
  <package id="dropit.install" />
  <package id="epicgameslauncher" />
  <package id="exiftool" />
  <package id="ffmpeg" />
  <package id="figma" />
  <package id="formatfactory" />
  <package id="goggalaxy" />
  <package id="gpu-z" />
  <package id="graphviz" />
  <package id="grepwin" />
  <package id="imageglass" />
  <package id="imagemagick.app" />
  <package id="InnoSetup" />
  <package id="javaruntime" />
  <package id="jre8" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="KB2999226" />
  <package id="KB3033929" />
  <package id="KB3035131" />
  <package id="KB3063858" />
  <package id="less" />
  <package id="lessmsi" />
  <package id="lf" />
  <package id="lunacy" />
  <package id="microsoft-windows-terminal" />
  <package id="mkvtoolnix" />
  <package id="msiafterburner" />
  <package id="naps2" />
  <package id="naps2.install" />
  <package id="netfx-4.6.2" />
  <package id="notepad3.install" />
  <package id="obs-studio" />
  <package id="obs-studio.install" />
  <package id="pandoc" />
  <package id="partitionwizard" />
  <package id="pswindowsupdate" />
  <package id="qbittorrent" />
  <package id="quicklook" />
  <package id="screentogif" />
  <package id="screentogif.portable" />
  <package id="selenium" />
  <package id="sharex" />
  <package id="shutup10" />
  <package id="speccy" />
  <package id="spicetify-cli" />
  <package id="steam-client" />
  <package id="Sudo" />
  <package id="vcredist140" />
  <package id="vcredist2010" />
  <package id="vcredist2013" />
  <package id="vcredist2015" />
  <package id="vcredist2017" />
  <package id="vscode" />
  <package id="vscode.install" />
  <package id="wechat" />
  <package id="yarn" />
</packages>