[core]
	autocrlf = true
	editor = nvim
[user]
	email = 42552577+mino29@users.noreply.github.com
	name = mino29
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[http]
	proxy = http://127.0.0.1:7890
[https]
	proxy = http://127.0.0.1:7890
