[user]
	email = 42552577+mino29@users.noreply.github.com
	name = mino29
[core]
	autocrlf = true
	editor = vim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = manager-core
[credential "helperselector"]
	selected = manager-core
[alias]
	lg = log --pretty=format:'%an committed %h'
	unstage = restore --staged .
