[Unit]
Description=Aria2c Download Manager
After=network.target

[Service]
User=mino29
Type=forking
ExecStart=/usr/bin/aria2c --conf-path=/home/mino29/.aria2/aria2.conf -D

[Install]
WantedBy=multi-user.target
